body {


     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

     padding-left: 10%;
     padding-right: 10%;
     background-color: mediumseagreen;
     color:black; 



}

.header {

    margin: 20px;



}



.nav > ul {

    overflow: hidden;
    list-style-type: none;
    background-color: white
    
    

}


.nav > ul > li {


    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
}


.nav > ul > li > a {


    text-decoration: none;
    color: white;
}

img {

    max-width: 100%;

}